// -----------------------
// media queries
// -----------------------
$breakpoint_1: 1000px;
$breakpoint_2: 700px;
$breakpoint_3: 550px;

// -----------------------
// color text
// -----------------------
$color_text: #4D4D4D;

// -----------------------
// general colors gmhat
// -----------------------
$color_brown:  #7F664A;
$color_light_blue:  #EFF7FA;
$color_dark_blue:  #2C4B4D;
$color_multiply_blue: #dbeaef;
$color_white: #FFFFFF;
$color_bg_grey: #F5F5F5;

// -----------------------
// font sizes
// -----------------------
$font_h1: 30px;
$font_card_titles: 22px;
$font_titles: 24px;
$font_menu: 18px;
$font_txt: 16px;
$font_caption: 12px;