// -----------------------
// banner home
// -----------------------

#region-main{
	
	.course-content{
		
		.topics{
		    
		    #section-0{
			    
			    .side{
				    padding: 0;
				    margin: 0;
					width: 0;
			    }
			    
			    .content{
				    margin: 0;
				    
				    .summary{
					    margin: 0;
					    
					    .container-fluid{
						    padding: 0;
					    }
					    
				    }
				    
			    }
			    
		    }
		    
		}
		
	}
	
}